/* Reset some default styles for all elements */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/* Set the font family and background color for the entire body */
body{
	font-family: Georgia, serif !important;
	background-color: black !important;
}

/*========================navbar section================*/
/* Style for the navbar */
.navbar {
    background-color: #504e8161 !important; /* Set the default background color */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }

  /* Style for the navbar when scrolled */
  .navbar.scrolled {
    background-color: #504e81 !important; /* Change the background color when scrolled */
  }

/*==========================promises css===============*/
/* Style for the image container */
.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the gif covers the entire container */
}

/* Style for images inside the container */
img {
    width: 100%; 
    height: 500px; 
    object-fit: cover;
}
/* Style for the overlay on the image */
.overlay{
  position: absolute;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    backdrop-filter: blur(4px);
    background-color: #ffffff3d;
    border-radius: 22px;
}


/* Media query for smaller screens */
@media only screen and (max-width: 767px) {
  

.overlay {
    position: absolute;
   top: 20%;
    left: 15%;
    width: 70%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    backdrop-filter: blur(4px);
    background-color: #ffffff3d;
    border-radius: 22px;
    padding: 10px !important;
}
}

/* Style for cards */
.card{
  width:400px;
  border: none;
  border-radius: 14px !important;

}
  
  
/* Styles for different sections of the card */
  
  .area1{
    background-color: #504e81;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    padding-top: 83px !important
  }
  
.image{
  top: -62px;
  position: relative
}

.image img {
  box-shadow: 5px 6px 6px 2px #e9ecef
}

.area2{
  color: white;
  background-color:black;
  border-bottom-left-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
}
.name{
  font-size:30px;
  font-weight:800 !important; 
}

.information{
  color:#5d6177;
  font-weight:500;
  font-size:15px;
}

/* Styles for social media icons */
.list-icons{
  display: inline-flex;
  color:#C5CAE9;
}

.list-icons li{
  list-style: none;
  padding: 12px;
  border-radius: 10px;
  width: 49px;
  margin-right: 10px;
}

.list-icons li i{
  font-size: 17px;
  color: #fff;
}

/* Responsive styles for social media icons */
@media (max-width:700px){
  .list-icons{
    display: block;
  }
}

/* Styles for different social media icons */
.facebook{
  background: #3b5998;
}

.instagram{
  background: #3f729b;
}

.youtube{
  background: #ff0000;
}

.whatsapp{
  background: #4dc247;
}

.pinterest{
  background: #cb2027;
}
.sort-button {
  background: none;
  border: none;
  font-size: larger; /* Make the arrow larger */
}

/* Style for inactive sort buttons */
.sort-inactive {
  color: grey;
}

/* Styles for active sort buttons */
.sort-asc,
.sort-desc {
  color: white;
}
.sort-button {
  position: absolute;
  right: 5px;
  /* Center the arrow vertically */
  top: 50%;
  transform: translateY(-50%);
}


/* Styles for the footer section */
body {
  min-height: 100vh;
}
.main-content {
  min-height: calc(
    100vh - 145px
  ); /* vh = viewport height in percentage 150 = height of header and footer*/
}
#tracks-table {
  background-color: white;
}
.footer {
  position: relative;
  width: 100%;
  background: #504e81;
  min-height: 80px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.property {
  cursor: pointer; /* Make the cursor change to a pointer when hovering over the table headers */
  user-select: none; /* Prevent the text from being highlighted */
}

/* Styles for social media icons and menu links in the footer */
.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

/* Hover effect for social media icons */
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

/* Hover effect for menu links */
.menu__link:hover {
  opacity: 1;
}

/* Additional styles for paragraph in the footer */
.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/* Styles for the wave background */
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("images/wave.png");
  background-size: 1000px 100px;
}

/* Styles for different waves in the background */
.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

/* Keyframe animation for the waves */
@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* Keyframe animation for the waves */
@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .card{
    width:350px;
    border: none;
    border-radius: 14px !important
  }
  /* Styling for the first area */

  .area1{
    background-color: #504e81;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    padding-top: 83px !important
  }
  /* Styling for the image container */
  .image{
    top: -62px;
    position: relative;
  }
  /* Styling for the image inside the container */
  .image img{
    box-shadow: 5px 6px 6px 2px #e9ecef;
  }
  /* Styling for the second area */
  .area2{
    background-color:#dee2e6;
    border-bottom-left-radius: 14px !important;
    border-bottom-right-radius: 14px !important
  }
  /* Styling for the name */
  .name{
    font-size:30px;
    font-weight:800 !important; 
  }
  /* Styling for additional information */
  .information{
    color:#5d6177;
    font-weight:500;
    font-size:15px
  }
  /* Styling for the social media icons list */
  .list-icons{
    display: inline-flex;
    color:#C5CAE9
  }
  /* Styling for each social media icon item */

  .list-icons li{
    list-style: none;
    padding: 12px;
    border-radius: 10px;
    width: 49px;
    margin-right: 10px
  }
  /* Styling for the social media icon */
  .list-icons li i{
    font-size: 17px;
    color: #fff;
  }
  /* Responsive styling for smaller screens */
  @media (max-width:700px){
    .list-icons{
      display: block
    }
  }
  /* Styling for social media icons with different backgrounds */
  .facebook{
    background: #3b5998
  }
  
  .instagram{
    background: #3f729b
  }
  
  .youtube{
    background: #ff0000
  }
  
  .whatsapp{
    background: #4dc247
  }
  
  .pinterest{
    background: #cb2027}
}